body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.task-manager {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-manager h1 {
    margin-bottom: 20px;
}

.task-manager input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.task-manager button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-manager button:hover {
    background-color: #0056b3;
}

.task-item {
    font-weight: 300; /* Peso leve da fonte */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f8f9fa;
    margin-top: 5px;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f8f9fa;
    margin-top: 5px;
    border-radius: 5px;
}